<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LuGa.Core" value="https://luga.pkgs.visualstudio.com/_packaging/LuGa.Core/nuget/v3/index.json" protocolVersion="3" />
    </packageSources>

    <packageSourceCredentials>
        <LuGa.Core>
            <add key="Username" value="user" />
            <add key="ClearTextPassword" value="%LUGA_NUGET_PAT%" />
        </LuGa.Core>
    </packageSourceCredentials>
</configuration>